<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>

	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
	<title>Hotel Booking</title>
	<link rel="shortcut icon" href="../../dashboard/assets/images/fsast_shop.png" />
	<link rel="stylesheet" href="vendors/css/bootstrap1.min.css" />
	<link rel="stylesheet" href="vendors/themify-icons.css" />
	<link rel="stylesheet" href="vendors/all.min.css" />
	<link rel="stylesheet" href="vendors/metisMenu.css" />
	<link rel="stylesheet" href="vendors/jquery.dataTables.min.css" />
	<link rel="stylesheet" href="vendors/responsive.dataTables.min.css" />
	<link rel="stylesheet" href="vendors/buttons.dataTables.min.css" />
	<link rel="stylesheet" href="vendors/metisMenu.css" />
	<link rel="stylesheet" href="vendors/style1.css" />
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">
	<link rel="stylesheet"
		href="https://maxst.icons8.com/vue-static/landings/line-awesome/line-awesome/1.3.0/css/line-awesome.min.css">
	<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<link rel="stylesheet" href="vendors/main.css">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</head>

<body class="crm_body_bg">

	<!-- loader_refresh -->
	<div th:replace="dashboard/personalProfile::loader_refresh">...</div>
	<!--loader_refresh area end -->


	<!-- Mobile menu bottom -->
	<div th:replace="dashboard/personalProfile::mobile_bottom_menu">...</div>
	<!-- mobile menu area end -->
	
	
	<div th:replace="dashboard/personalProfile::sidebar">...</div>

	<section class="main_content dashboard_part large_header_bg" style="background-color: #e4eaf0;">
		<!--NAVBAR-->
		<div th:replace="dashboard/personalProfile::navbar">...</div>
		

	

		<div class="main_content_iner " style="background-color: #e4eaf0;">
			<div class="container-fluid p-0">
				<div class="row justify-content-center">
					<div class="col-lg-12">
						<div class="white_card card_height_100 mb_30">
							<div class="white_card_header" style="padding: 22px 34px; margin-bottom: -25px;">
								<div class="row box_header m-0">
									<div class="col-md-6 main-title">
										<h3 class="m-0">All Members List & Management
										</h3>
									</div>

								<!--	<div class="col-md-6 add_button" style="float: right;">
										<button type="button" class="btn btn-primary" data-bs-toggle="modal"
											data-bs-target="#exampleModalCenter" 
											style="background-color: #30778A;border: none;float: right;">Publish products to
											the store in bulk
										</button>
									</div>-->
								</div>
							</div>
							<div class="white_card_body">
								<div class="QA_section">
									
									<div class="QA_table mb_30 table-responsive-md">
										<table class="table lms_table_active responsive" id="serialNumber">
											<thead>
												<tr>
													
												<!--	<th scope="col">
														<input type="checkbox" onClick="toggle(this)" />
													</th>-->
													
													<th scope="col" >ID</th>
													<th scope="col" >Member Account</th>
													<th scope="col" >Member's Phone No. </th>
													<th scope="col" >Affiliated Agent</th>
													<th scope="col" >Membership tiers</th>
													<th scope="col" >Balance</th>
													<th scope="col" >Parent ID</th>
													<th scope="col" >No. of subordinate members </th>
													<th scope="col" >Max. amount of daily statements </th>
													<th scope="col" >No. of orders received today </th>
													<th scope="col" >Status</th>
													<th scope="col" >operate</th>
													
												</tr>
											</thead>
											<tbody>
												
												<tr th:each="agent : ${agentInviteCodeList}"  >
													<!--<td><input type="checkbox"  /></td>-->
													<td th:text="${agent.user.id}">ID</td>
													<td th:text="${agent.user.email}">EMAIL</td>
													<td th:text="${agent.user.mobileNumber}">NUMBER</td>
													<td th:text="${agent.user.fullName}">EMAIL</td>
													<td >hay</td>
													
													<td >hello</td>
													<td th:text="${agent.id}">EMAIL</td>
													<td >-</td>
													<td >30</td>
													<td >15</td>
													<td >20</td>
													<td><button
th:attr="onclick='openPopup(\'' + ${agent.user.id} + '\'  ,\'' + ${agent.user.email} + '\' ,\'' + ${agent.user.mobileNumber} + '\' ,\'' + ${agent.user.fullName} + '\' ,\'' + ${agent.id} + '\')'" class="editbutton">View</button></td>
												</tr>
											</tbody>
										</table>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="col-12">
					</div>
				</div>
			</div>
		</div>
<!-- The Popup Form -->
    <div id="addAmount">
      <form  class="form-container">
        <label for="userId">ID:</label><br>
        <input type="text" id="userId" name="userId"><br>
        <label for="userName">EMAIL:</label><br>
        <input type="text" id="userName" name="userName"><br>
         <label for="number">NUMBER:</label><br>
        <input type="text" id="number" name="number"><br>
        <label for="AGENTName">AGENT NAME:</label><br>
        <input type="text" id="AGENTName" name="AGENTName"><br>
         <label for="PARId">Parent ID:</label><br>
        <input type="text" id="PARId" name="PARId"><br>
        <div class="modal-footer justify-content-end">
          <button type="button" class="btn cancel" onclick="closePopup()">Close</button>
          <button type="submit" class="btn">Approved</button>
        </div>
      </form>
    </div>
<script>
    function openPopup(userId, fullName,number,agentnam,parentid) {
        let popup = document.getElementById("addAmount"); 
        // Change "editModal" to "addAmount"
        document.getElementById("userId").value = userId; // Use "value" to set input field value
        document.getElementById("userName").value = fullName;
        document.getElementById("number").value = number;
        document.getElementById("AGENTName").value = agentnam;
        document.getElementById("PARId").value = parentid;
        popup.style.display = "block";
    }

    function closePopup() {
        let popup = document.getElementById("addAmount");
        popup.style.display = "none";
    }
</script>

<style>
  #addAmount {
    width: 25%;


    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    border: 1px solid #ccc;
    z-index: 1000;
  }

  /* Full-width input fields */
  .form-container input[type=text],
  .form-container input[type=password] {
    border: none;
    background: #f1f1f1;
  }

  /* Set a style for the submit/login button */
  .form-container .btn {
    background-color: goldenrod;
    color: white;
    border: none;
    cursor: pointer;
    margin-bottom: 10px;
  }

  /* Add a red background color to the cancel button */
  .form-container .cancel {
    background-color: goldenrod;
  }

  .editbutton {
    padding: 5px 15px 5px 15px;
    border-radius: 5px;
    border-color: orange;
    background-color: orange;
    color: white;
  }

  .editbutton:hover {
    color: black;
  }
</style>

		<!--FOOTER-->
		<!--<div th:replace="sidebar/mainpanelverifyshop::footer">...</div>-->
	</section>

	<script src="vendors/datatable/js/jquery1-3.4.1.min.js"></script>
	<script src="vendors/datatable/js/popper1.min.js"></script>
	<script src="vendors/datatable/js/bootstrap1.min.js"></script>
	<script src="vendors/datatable/js/metisMenu.js"></script>
	<script src="vendors/datatable/js/jquery.dataTables.min.js"></script>
	<script src="vendors/datatable/js/dataTables.responsive.min.js"></script>
	<script src="vendors/datatable/js/dataTables.buttons.min.js"></script>
	<script src="vendors/datatable/js/buttons.flash.min.js"></script>
	<script src="vendors/datatable/js/jszip.min.js"></script>
	<script src="vendors/datatable/js/pdfmake.min.js"></script>
	<script src="vendors/datatable/js/vfs_fonts.js"></script>
	<script src="vendors/datatable/js/buttons.html5.min.js"></script>
	<script src="vendors/datatable/js/buttons.print.min.js"></script>
	<script src="vendors/datatable/js/perfect-scrollbar.min.js"></script>
	<script src="vendors/datatable/js/scrollable-custom.js"></script>
	<script src="vendors/datatable/js/custom.js"></script>
	
</body>

</html>