<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>

	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
	<title>Hotel Booking</title>
	<link rel="shortcut icon" href="../../dashboard/assets/images/fsast_shop.png" />
	<link rel="stylesheet" href="vendors/css/bootstrap1.min.css" />
	<link rel="stylesheet" href="vendors/themify-icons.css" />
	<link rel="stylesheet" href="vendors/all.min.css" />
	<link rel="stylesheet" href="vendors/metisMenu.css" />
	<link rel="stylesheet" href="vendors/jquery.dataTables.min.css" />
	<link rel="stylesheet" href="vendors/responsive.dataTables.min.css" />
	<link rel="stylesheet" href="vendors/buttons.dataTables.min.css" />
	<link rel="stylesheet" href="vendors/metisMenu.css" />
	<link rel="stylesheet" href="vendors/style1.css" />
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">
	<link rel="stylesheet"
		href="https://maxst.icons8.com/vue-static/landings/line-awesome/line-awesome/1.3.0/css/line-awesome.min.css">
	<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<link rel="stylesheet" href="vendors/main.css">
</head>

<!--popup form-->

<style>
	#addAmount {
		width: 25%;


		display: none;
		position: fixed;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		background-color: white;
		padding: 20px;
		border: 1px solid #ccc;
		z-index: 1000;
	}



	/* Set a style for the submit/login button */
	.form-container .btn {
		background-color: goldenrod;
		color: white;
		border: none;
		cursor: pointer;
		margin-bottom: 10px;
	}

	/* Add a red background color to the cancel button */
	.form-container .cancel {
		background-color: goldenrod;
	}
</style>


<body class="crm_body_bg">

	<!-- loader_refresh -->
	<div th:replace="dashboard/personalProfile::loader_refresh">...</div>
	<!--loader_refresh area end -->


	<!-- Mobile menu bottom -->
	<div th:replace="dashboard/personalProfile::mobile_bottom_menu">...</div>
	<!-- mobile menu area end -->


	<div th:replace="dashboard/personalProfile::sidebar">...</div>

	<section class="main_content dashboard_part large_header_bg" style="background-color: #e4eaf0;">
		<!--NAVBAR-->
		<div th:replace="dashboard/personalProfile::navbar">...</div>

		<div class="main_content_iner " style="background-color: #e4eaf0;">
			<div class="container-fluid p-0">
				<div class="row justify-content-center">
					<div class="col-lg-12">
						<div class="white_card card_height_100 mb_30">
							<div class="white_card_header" style="padding: 22px 34px; margin-bottom: -25px;">
								<div class="row box_header m-0">
									<div class="col-md-6 main-title">
										<h3 class="m-0">List Of All Transactions Flow
										</h3>
									</div>

									<!--<div class="col-md-6 add_button" style="float: right;">
										<button type="button" class="btn btn-primary" data-bs-toggle="modal"
											data-bs-target="#exampleModalCenter"
											style="background-color: #30778A;border: none;float: right;">Publish
											products to
											the store in bulk
										</button>
									</div>-->
								</div>
							</div>
							<div class="white_card_body">
								<div class="QA_section">

									<div class="QA_table mb_30">
										<table class="table lms_table_active" id="serialNumber">
											<thead>
												<tr>

													<!--<th scope="col">
														<input type="checkbox" onClick="toggle(this)" />
													</th>-->

													<th scope="col">ID</th>
													<th scope="col">Business ID</th>
													<th scope="col">type</th>
													<th scope="col">nickname</th>
													<th scope="col">Change the balance</th>
													<th scope="col">Balance before change</th>
													<th scope="col">Balance after change</th>
													<th scope="col">Freeze balance</th>
													<th scope="col">remark</th>
													<th scope="col">Creation time</th>
													<th scope="col">operate</th>

												</tr>
											</thead>
											<tbody>
												<tr th:each="transaction,iter  : ${rechargeDetail}">
													<!--<td><input type="checkbox" /></td>-->
													<td th:text="${transaction.user.invitationCode}"></td>
													<td>bussinese id</td>
													<td>type</td>
													<td th:text="${transaction.user.fullName}"></td>
													<td th:text="${transaction.amountByUser}"></td>
													<td th:text="${transaction.beforeAmt}"></td>
													<td th:text="${transaction.afterAmt}"></td>
													<td th:text="${transaction.freezeAmt}"></td>
													<td th:text="${transaction.remarks}"></td>
													<td  th:text="${#dates.format(transaction.date,'dd-MMM-yyyy')}"></td>
													<td><button
															th:attr="onclick='addAmountForm(\'' + ${transaction.id} + '\'  ,\'' + ${transaction.user.fullName} + '\' ,\'' + ${transaction.user.email} + '\',\'' + ${transaction.amountByUser} + '\'
															,\'' + ${transaction.beforeAmt} + '\',\'' + ${transaction.afterAmt} + '\',\'' + ${transaction.freezeAmt} + '\')'"><i
																class="bi bi-pencil-square"></i></button>
													</td>

												</tr>
											</tbody>
										</table>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="col-12">
					</div>
				</div>
			</div>
		</div>

		<!--FOOTER-->
		<!--<div th:replace="sidebar/mainpanelverifyshop::footer">...</div>-->
	</section>

	<!-- The Popup Form -->
	<div id="addAmount">
		<form th:action="@{/update_transaction}" method="post" class="form-container">
			<div>
				<label for="rechargeId">Recharge ID:</label>
				<input type="text" id="rechargeId" name="rechargeId" class="form-control" readonly>
			</div>
			<div>
				<label class="col-md-4" for="id">User ID:</label>
				<input type="text" id="id" name="userId" class="form-control" readonly>
			</div>
			<div>
				<label class="col-md-4" for="name">User Name:</label>
				<input type="text" id="name" name="userName" class="form-control" readonly>
			</div>
			<div>
				<label class="col-md-4" for="amount">Change amount:</label>
				<input type="text" id="amount" name="amount" class="form-control" readonly>
			</div>

			<div>
				<label class="col-md-4" for="beforeAmt">Before amount:</label>
				<input type="text" id="beforeAmt" name="beforeAmt" class="form-control" readonly>
			</div>
			<div>
				<label class="col-md-4" for="afterAmt">After amount:</label>
				<input type="text" id="afterAmt" name="afterAmt" class="form-control" readonly>
			</div>
			<div>
				<label class="col-md-4" for="freezeAmt">Freeze Amount:</label>
				<input type="text" id="freezeAmt" name="freezeAmt" class="form-control">
			</div>

			<div class="modal-footer justify-content-end">
				<button type="button" class="btn cancel" onclick="closeForm3()">Close</button>
				<button type="submit" class="btn">Approved</button>
			</div>
		</form>
	</div>


	<script>
		function addAmountForm(rechargeId, userId, userName, amount, beforeAmt, afterAmt, freezeAmt) {
			// Set the values in the popup form
			document.getElementById('rechargeId').value = rechargeId;
			document.getElementById('id').value = userId;
			document.getElementById('name').value = userName;
			document.getElementById('amount').value = amount;
			document.getElementById('beforeAmt').value = beforeAmt;
			document.getElementById('afterAmt').value = afterAmt;
			document.getElementById('freezeAmt').value = freezeAmt;

			// Open the popup form
			document.getElementById('addAmount').style.display = 'block';
		}

		function closeForm3() {
			// Close the popup form
			document.getElementById('addAmount').style.display = 'none';
		}
	</script>

	<script src="vendors/datatable/js/jquery1-3.4.1.min.js"></script>
	<script src="vendors/datatable/js/popper1.min.js"></script>
	<script src="vendors/datatable/js/bootstrap1.min.js"></script>
	<script src="vendors/datatable/js/metisMenu.js"></script>
	<script src="vendors/datatable/js/jquery.dataTables.min.js"></script>
	<script src="vendors/datatable/js/dataTables.responsive.min.js"></script>
	<script src="vendors/datatable/js/dataTables.buttons.min.js"></script>
	<script src="vendors/datatable/js/buttons.flash.min.js"></script>
	<script src="vendors/datatable/js/jszip.min.js"></script>
	<script src="vendors/datatable/js/pdfmake.min.js"></script>
	<script src="vendors/datatable/js/vfs_fonts.js"></script>
	<script src="vendors/datatable/js/buttons.html5.min.js"></script>
	<script src="vendors/datatable/js/buttons.print.min.js"></script>
	<script src="vendors/datatable/js/perfect-scrollbar.min.js"></script>
	<script src="vendors/datatable/js/scrollable-custom.js"></script>
	<script src="vendors/datatable/js/custom.js"></script>
</body>

</html>